/* Estilos Base para el Búnker */
html, body {
    background-color: #0f172a !important; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    color: white;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body { 
    opacity: 0; 
    transition: opacity 0.5s ease-in;
}

#pantalla-carga {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f172a;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
}

#img-homenaje {
    filter: grayscale(100%) blur(10px);
    transition: filter 1.5s ease-in-out;
}

#img-homenaje.revelada {
    filter: grayscale(0%) blur(0px);
}

.card { 
    background: #1e293b; 
    border: 1px solid #334155; 
    transition: all 0.3s ease; 
}

.card:hover { 
    transform: translateY(-5px); 
    border-color: #38bdf8; 
}

.hidden { display: none !important; }

button:disabled {
    filter: grayscale(1);
    transform: none !important;
}